header.header
  .header__wrapper
    .header__icons.desktop-only

      a.header__icons__link(href="https://twitter.com/RBentcha")
        span.header__icons__link__item
          include ../svg/twitter.svg

      a.header__icons__link(href="mailto:rogerbentcha@gmail.com")
        span.header__icons__link__item
          include  ../svg/mail.svg

    a.header__logo(href="/" data-links='true') ROGER--B

    include menu
    include menu-preview



