- const links = [{ name : 'Works', img : 'img-1', url : "#"}, { name : 'Services', img : 'img-2', url : "#"}, { name : 'About me', img : 'img-4', url : "#"}  ]

.menu__content
  button.button-icon.mobile-only
    include ../svg/close.svg

  ul.menu__links
    each link in links
      li.menu__links__item(data-snap="image" data-snap-image=link.img)
        a.menu__links__item__link(href='#')=link.name

  hr.divider.mobile-only

  a.button.button-primary.button-bg.mobile-only(href="#")
    span.button__wrapper__flex
      |Work with me
      include ../svg/plug.svg
