- const links = [{ name : lang.header.en.navigation.home, img : 'images/previews/img-1', url : "/", data: 'false', disabled:'false'}, { name : lang.header.en.navigation.project, img : 'images/previews/img-2', url : "projects", data :'false', disabled:'false'},{ name : 'Writting', img : 'images/previews/img-2', url : "writing", data :'false', disabled:'true'}, { name : 'About me', img : 'images/previews/img-3', url : "/about", data : 'true', disabled:'false'}  ]

.menu__content
  button.button-icon.button-close.mobile-only
    include ../svg/close.svg

  ul.menu__links
    each link in links
      li.menu__links__item(data-snap="image" data-snap-image=link.img)
        a.menu__links__item__link(href=link.url data-links=link.data data-links-disabled=link.disabled)=link.name


  hr.divider.mobile-only

  a.button.button-primary.button-bg.mobile-only(href="#")
    span.button__wrapper__flex
      |Work with me
      include ../svg/plug.svg

