{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },

  "extends": ["eslint:recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "babelOptions": {
      "babelrc": false,
      "configFile": false,
      "presets": ["@babel/preset-env"]
    }
  },
  "rules": {
    "semi": ["error", "never"]
    //"quotes": ["error", "single"]
  }
}
