section.about
 .about__wrappper
   .about__title About me
   .about__content
     .about__description
       .about__description__number(data-animation='title') 00
       .about__description__title(data-animation='title') About me
       .about__description__text(data-animation='paragraph')
        | Passionate about technology, I aspire to specialize in web programming and software development. I am proficient in HTML, CSS, JavaScript, and enjoy designing visually appealing and functional user interfaces that provide an exceptional user experience. I am constantly keeping up-to-date with emerging trends and technologies to stay innovative.
       +button('/about', 'More about me', 'true')(class="button button__primary button-bg")
        include svg/arrow-2-right.svg
     .about__gallery
      include utils/gallery
