section.about
 .about__wrappper
   .about__title About me
   .about__content
     .about__description
       .about__description__number(data-animation='title') 00
       .about__description__title(data-animation='title') About me
       .about__description__text(data-animation='paragraph')
        |Hey i’m roger bentcha i help small company and people
        |to communicate with thiers customers. I turn thier idea
        |in creative design and code
       +button('/about', 'Contact me', 'true')(class="button button__primary button-bg")
        include svg/arrow-2-right.svg
     .about__gallery
      include utils/gallery
