section.about
 .about__wrappper
   .about__title About me
   .about__content
     .about__description
       .about__description__number(data-animation='title') 00
       .about__description__title(data-animation='title') About me
       .about__description__text(data-animation='paragraph')
        | Passionate about technology, I want to specialize in web programming and software development.
        | I master HTML, CSS, JavaScript... I enjoy designing aesthetically pleasing and
        | functional user interfaces, while ensuring an exceptional user experience. I am always on the lookout
        | for emerging trends and technologies to continue to innovate.
       +button('/about', 'More about me', 'true')(class="button button__primary button-bg")
        include svg/arrow-2-right.svg
     .about__gallery
      include utils/gallery
