footer.footer
  .footer__wrapper
    include form/switch
    .footer__content
      p.footer__content__copy COPYRIGHT 2022
      p.footer__content__name RØGER BENTCHA

    .footer__icons
      span.header__icons__link__item
        include svg/twitter.svg

      span.header__icons__link__item
        include svg/mail.svg

