section.tools
  .tools__wrapper
    .tools__frameworks
      .tools__frameworks__content
        span.tools__frameworks__content__icons
        h3.tools__frameworks__content__title Frameworks and tools
        p.tools__frameworks__content__text
          | Hey i’m roger bentcha i help small company and people
          | to communicate with thiers customers. I turn thier idea
          | in creative design and code

      .tools__frameworks__icons
        h3.tools__frameworks__icons__title Frontend
        .tools__frameworks__icons__content
          ul.tools__frameworks__icons__content__list
            li.tools__frameworks__icons__items 1
            li.tools__frameworks__icons__items 2
            li.tools__frameworks__icons__items 3

          ul.tools__frameworks__icons__content__list
            li.tools__frameworks__icons__items 1
            li.tools__frameworks__icons__items 2
            li.tools__frameworks__icons__items 3

    .tools__techno
      .tools__techno__wrapper
        .tools__techno__backend
          h4.tools__techno__title Backend
          ul.tools__frameworks__icons__content__list
            li.tools__frameworks__icons__items 1
            li.tools__frameworks__icons__items.tools__frameworks-disabled 2
            li.tools__frameworks__icons__items.tools__frameworks-disabled 3
            li.tools__frameworks__icons__items 4

        .tools__techno__design
          h4.tools__techno__title Design
          ul.tools__frameworks__icons__content__list
            li.tools__frameworks__icons__items 1
            li.tools__frameworks__icons__items.tools__frameworks-disabled 2
            li.tools__frameworks__icons__items 3
            li.tools__frameworks__icons__items.tools__frameworks-disabled 4

        .tools__techno__editor
          h4.tools__techno__title Editor
          ul.tools__frameworks__icons__content__list
            li.tools__frameworks__icons__items 1
            li.tools__frameworks__icons__items 2
            li.tools__frameworks__icons__items.tools__frameworks-disabled 3
            li.tools__frameworks__icons__items 4

