section.tools
  .tools__wrapper
    .tools__frameworks
      .tools__frameworks__content
        span.tools__frameworks__content__icons
         include svg/tools.svg
        h3.tools__frameworks__content__title(data-animation='title') Frameworks and tools
        p.tools__frameworks__content__text(data-animation='paragraph')
          | I use many tools to archeive my creative works.
          | I usaly start to write(or draw) my idea on paper
          | and transfert the idea to design tools before starting to code.

      .tools__frameworks__icons
        h3.tools__frameworks__icons__title(data-animation='title') Frontend
        .tools__frameworks__icons__content
          ul.tools__frameworks__icons__content__list
            li.tools__frameworks__icons__items.tools__frameworks__icons__items__small
               include svg/js.svg
            li.tools__frameworks__icons__items.tools__frameworks__icons__items__small
               include svg/ts.svg
            li.tools__frameworks__icons__items.tools__frameworks__icons__items__small
               include svg/html.svg

          ul.tools__frameworks__icons__content__list
            li.tools__frameworks__icons__items.tools__frameworks__icons__items__small
               include svg/css.svg
            li.tools__frameworks__icons__items.tools__frameworks__icons__items__small
               include svg/sass.svg
            li.tools__frameworks__icons__items.tools__frameworks__icons__items__small
               include svg/git.svg

    .tools__techno
      .tools__techno__wrapper
        .tools__techno__backend
          h4.tools__techno__title(data-animation='title') Backend
          ul.tools__frameworks__icons__content__list.tools__frameworks__icons__content__list__tools
            li.tools__frameworks__icons__items
               include svg/express.svg
            li.tools__frameworks__icons__items.tools__frameworks-disabled
            li.tools__frameworks__icons__items.tools__frameworks-disabled
            li.tools__frameworks__icons__items
               include svg/node.svg

        .tools__techno__design
          h4.tools__techno__title(data-animation='title') Design
          ul.tools__frameworks__icons__content__list.tools__frameworks__icons__content__list__tools
            li.tools__frameworks__icons__items
               include svg/figma.svg
            li.tools__frameworks__icons__items.tools__frameworks-disabled
            li.tools__frameworks__icons__items
               include svg/xd.svg
            li.tools__frameworks__icons__items.tools__frameworks-disabled
               include svg/illustrator.svg

        .tools__techno__editor
          h4.tools__techno__title(data-animation='title') Editor
          ul.tools__frameworks__icons__content__list.tools__frameworks__icons__content__list__tools
            li.tools__frameworks__icons__items
               include svg/vscode.svg
            li.tools__frameworks__icons__items.tools__frameworks-disabled
            li.tools__frameworks__icons__items.tools__frameworks-disabled
            li.tools__frameworks__icons__items
               include svg/webstorm.svg

