.modal
   .modal__wrapper
      .modal__content
         .modal__content__wrapper
            .modal__content__description
               h3.modal__title You have and idea or any project ? let do it togetter
               p.modal__text I will be happy to work with you but i need somme information about your and you project  to quickly connect with you and understant your needs.
            form.modal__form
               .modal__form__wrapper
                  input.modal__data-services(type="hidden" name="serviceType")
                  .modal__collumn
                     .form__group
                        label.form__group__label(for="projectUserName") Name
                        input.form__group__input.usersProjectsName#name(type="text" name="projectUserName")
                        span.input__alert-name.input__alert
                     .form__group
                        label.form__group__label(for="projectUserMail") Email
                        input.form__group__input.usersProjectsEmail#mail(type="email" name="projectUserMail")
                        span.input__alert-email.input__alert

                  .form__group
                     label.form__group__label(for="projectDescription") Describe your project
                     textarea.form__group__input.usersProjectsIdea#idea(name="projectDescription")
                     span.input__alert-message.input__alert

                  +button('/projects/usersProjects', 'Send You project')(class='button button__primary button-bg modal__submit__button')
                     include svg/arrow-2-right.svg

         .modal__button
            button.button-icon
               include svg/close.svg
