.preloader
  .preloader__wrapper
    .preloader__text
      .preloader__text__wrapper
        span.preloader__text__item Explore
        span.preloader__text__item Design
        span.preloader__text__item Code
        span.preloader__text__item Test
        span.preloader__text__item Deploy

    .preloader__loader
      span.preloader__loader__bar
