section.services#services
   .services__wrapper
      .services__title Services
      .services__content
         .services__description
            span.services__description__icons
               include svg/services.svg
            h3.services__description__title(data-animation='title') Services
            p.services__description__text(data-animation='paragraph')
              | I offer different types of services depending on my clients' needs,
              | ranging from web design services (UI design) to coding (frontend and some backend).
            picture.services__description__picture
               .services__description__picture__image
                  include svg/line-circle.svg


         .services__lists
            .services__list__items
               .services__list__items__content
                  span.services__list__items__icon
                     include svg/service.svg

                  .services__list__items__desc
                     h4.services__list__items__title(data-animation='title') Web Integration
                     p.services__list__items__text(data-animation='paragraph')
                        | I can convert different types of files(PSD, FIGMA, ADOBE XD, SKETCH) into code using HTML, CSS, and JavaScript.
               +service-button('#', 'commander', 'integration-web')(class="button button__primary button-bg services__cta")
                  include svg/arrow-2-right.svg

            .services__list__items
               .services__list__items__content
                  span.services__list__items__icon
                     include svg/service.svg

                  .services__list__items__desc
                     h4.services__list__items__title(data-animation='title') UI Design
                     p.services__list__items__text(data-animation='paragraph')
                        | I offer UI design services to improve user interface
                        |  of your website by providing a pleasant and intuitive user experience.
               +service-button('#', 'commander', 'ui-design')(class="button button__primary button-bg services__cta")
                  include svg/arrow-2-right.svg

            .services__list__items
               .services__list__items__content
                  span.services__list__items__icon
                     include svg/service.svg

                  .services__list__items__desc
                     h4.services__list__items__title(data-animation='title') Logo Design
                     p.services__list__items__text(data-animation='paragraph')
                        | By understanding your needs, we can work together
                        | to create a logo that showcases the values behind your company.
               +service-button('#', 'commander', 'logo-design')(class="button button__primary button-bg services__cta")
                  include svg/arrow-2-right.svg
