section.services#services
  .services__wrapper
    .services__title Services
    .services__content
      .services__description
        span.services__description__icons
        h3.services__description__title(data-animation='title') Services
        p.services__description__text(data-animation='paragraph')
         | Hey i’m roger bentcha i help small company and people
         | to communicate with thiers customers. I turn thier idea
         | in creative design and code
        picture.services__description__picture
         .services__description__picture__image
            include svg/line-circle.svg


      .services__lists
        .services__list__items
          .services__list__items__content
            span.services__list__items__icon
            .services__list__items__desc
              h4.services__list__items__title(data-animation='title') Integration web
              p.services__list__items__text(data-animation='paragraph')
               | Hey i’m roger bentcha i help small company and people to
               | communicate with thiers customers. I turn thier idea in.
          +button('#', 'commander')(class="button button__primary button-bg services__cta" data-service="integration-web")
            include svg/arrow-2-right.svg

        .services__list__items
          .services__list__items__content
            span.services__list__items__icon
            .services__list__items__desc
              h4.services__list__items__title(data-animation='title') Integration web
              p.services__list__items__text(data-animation='paragraph')
               | Hey i’m roger bentcha i help small company and people to
               | communicate with thiers customers. I turn thier idea in.
          +button('#', 'commander')(class="button button__primary button-bg services__cta" data-service="integration-web")
            include svg/arrow-2-right.svg
