.player__button__wrapper {
  overflow: hidden;
  width: 100%;
  max-width: rem(300px);

  @include flex-between;
  @include breakpoints('lg') {
    max-width: rem(300px);
  }
  color: $color-white;
}

.player__button {
  all : unset;
  cursor: pointer;
  padding: rem(8px) rem(16px);
  text-transform: capitalize;

  border-radius: rem(12px);
  border: 1px solid rgba($color-white, .25);

  @include flex-between;
  @include text-xs;
  @include space-x(8px);

  @include support-blur(30px, $color-white, .05)
}
