.player {
  display: inline-block;
  position: fixed;
  bottom: rem(24px);
  right: rem(24px);
  //left: rem(24px);
  z-index: z('player');
  max-width: rem(300px);
  //display: none;

  @include breakpoints('lg') {
   //left: initial;
  }

  @include breakpoints('md') {
    max-width: rem(396px);
  }

  &.isHidden {
    @include v-hidden;
  }

  &.isVisible {
    @include v-visible;
  }
}

.player__body {
  display: grid;
  grid-gap: rem(16px);
  width: 100%;

  &__wrapper {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: rem(16px);

    @include breakpoints('lg') {
      grid-template-columns: 1fr 76px;
    }
  }
}

.player__content {
  width: 100%;
  padding: rem(16px);
  box-shadow: $shadow-300;
  border-radius: rem(24px);
  display: grid;
  grid-gap: rem(8px);

  @include support-blur(30px, $color-white, 0.05);

  @include breakpoints('md') {
    max-width: rem(300px);
  }
}

.player__cover {
  background-color: rgba($color-white, 0.1);
  border-radius: rem(8px);
  overflow: hidden;
  object-fit: cover;
  transition: height 0.5s ease;
  height: rem(180px);

  img {
    width: 100%;
    min-height: 100%;
  }
}

.player__detail {
  display: grid;
  grid-gap: rem(0px);
  opacity: 0.7;

  &__name {
    @include text-base;
  }

  &__title {
    @include text-2xl;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.player__cta {
  @include button-flotting;
}
