@mixin bars {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(50%);
  border-radius: rem(2px);
  width: 50%;
  height: rem(4px);
  display: inline-block;
  cursor: pointer;
  background-color: rgba($color-white, $alpha: 1);
  //transition: all 0.4s;
  z-index: -1;
}
@mixin elapse {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(50%);
  border-radius: rem(2px);
  width: 80%;
  height: 4px;
  display: inline-block;
  background-color: rgba($color-white, $alpha: 0.3);
  z-index: -1;
}
@mixin range__thumb {
  -webkit-appearance: none;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background: rgba($color-white, $alpha: 1);
  z-index: 999;
  cursor: grabbing;
}
%range {
  -webkit-appearance: none;
  display: inline-block;
  border: none;
  margin: 0;
  background-color: rgba($color-white, $alpha: 0.2);
  height: 4px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  z-index: 1;

  &::-webkit-slider-thumb {
    @include range__thumb;
  }

  &::-moz-range-thumb {
    @include range__thumb;
  }
}

.player__timer {

}


  //timer slider
.player__timer__progress {
  width: 100%;
  position: relative;
  border-radius: rem(8px);
}

.player__timer__progress__range {
  @extend %range;
}
.player__timer__progress__bar{
  @include bars
}
.player__timer__progress__elapse{
  @include elapse
}

  //Elapse time values
.player__timer__times {
  @include flex-between;
}

%player__timer__times {
  @include text-xs;
  font-weight: 700;
  opacity: .6;
}

.player__timer__times__starttime {
@extend %player__timer__times

}
.player__timer__times__endtime {
  @extend %player__timer__times
}

