.player__volume {
  padding-right: rem(16px);
  display: none;
  cursor: ns-resize;

  @include breakpoints('lg') {
    display: inline-block;
  }
}

.player__volume__wrapper {
  border-radius: rem(18px);
  height: rem(152px);
  @include support-blur(30px, $color-white, 0.05);
  //border: 2px solid rgba($color-white, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  touch-action: none;
  display: flex;
  align-items: flex-end;

  :hover .player__volume__grap {
    background-color: $color-gradient-green;
  }
}

.player__volume__slider {
  position: relative;
  width: 100%;
  will-change: height;
  background-color: rgba($color-white, 0.7);
  //border-top: 2px solid rgba($color-white, 1);
}

.player__volume__grap {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: rem(8px);
  width: 50%;
  border-radius: rem(6px);
  border: 1px solid transparent;
  background-color: white;
  @include flex-center;
  cursor: row-resize;
  transition: 0.3s;

  display: none;

  &:hover {
    border-color: $color-accent-green;
  }
}

.player__volume__icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  bottom: rem(24px);
  @include text-2xl;
  color: rgba($color-black, 0.4);
}
