block variables

// ** Start of Mixin **//
//Button
mixin button(href, text, bool)
  a(class!=attributes.class href=href data-links=bool)
    span.button__wrapper__flex
      | #{text}
      if block
        block
//*** End of mixin ***//

doctype html
html(lang="en")
  head
    include partials/head

  body
    include components/preloader
    include components/header/header
    include components/modal
    include components/widgets/music-player
    .wrapper
      .content#content(data-template=template)
        block content

      include components/form
    
    include partials/scripts





