.about {
  @include container
}

.about__wrappper {
  @include space-y(32px);
}

.about__title  {
  @extend .projects__title
}

.about__content {
  @include space-y(32px);
  border-radius: rem(16px);
  background-color: rgba($color-white, .05);
  padding: rem(16px);
}
.about__description {
  @include space-y(16px)
}

.about__description__number  {
  font-family: $font-rische;
  @include text-2xl;
  font-weight: bold;
}
.about__description__title   {
  @extend .about__description__number
}

.about__description__text {
  @include text-sm;
}

.about__gallery {}
