.connect {
  @include breakpoints('sm') {
    padding-top: rem(64px);
    padding-bottom: rem(64px);
    @include space-y(64px);
    background-color: rgba($color-white, 0.05);
    margin-top: rem(48px);
  }

  @include breakpoints('md') {
    @include space-y(96px);
    margin-top: rem(64px);
  }

  @include breakpoints('lg') {
    @include space-y(128px);
    margin-top: rem(96px);
  }

  @include breakpoints('xlg') {
    @include space-y(196px);
    margin-top: rem(128px);
  }

  @include breakpoints('2xlg') {
    @include space-y(256px);
    margin-top: rem(196px);
  }
}
.connect__wrapper {
  padding: rem(16px);
  margin: rem(16px);
  border-radius: rem(16px);
  background-color: rgba($color-white, 0.05);
  @include space-y(24px);

  @include breakpoints('sm') {
    max-width: rem(330px);
    margin: 0 auto;
    background-color: transparent;
  }

  @include breakpoints('md') {
    max-width: rem(426px);
    @include space-y(48px);
  }

  @include breakpoints('xlg') {
    max-width: rem(512px);
    @include space-y(64px);
  }

  @include breakpoints('2xlg') {
    max-width: rem(688px);
    @include space-y(128px);
  }
}

.connect__title {
  display: flex;
  flex-direction: column;

  @include breakpoints('md') {
    transform: translateX(-100px);
  }

  &__text {
    font-family: $font-rische;
    font-weight: bold;
    @include text-3xl;
    color: $color-white;

    @include breakpoints('md') {
      @include text-4xl;
    }

    @include breakpoints('lg') {
      @include text-6xl;
    }

    @include breakpoints('xlg') {
      @include text-7xl;
    }

    @include breakpoints('xlg') {
      @include text-8xl;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    color: $color-accent-green;
    @include space-x(32px);

    h4 {
      color: $color-accent-green;
    }

    &__img {
      height: 1px;
      width: 100%;
      background-color: $color-accent-green;
      display: inline-block;
      border-radius: 2px;
      position: relative;

      &::after {
        content: '';
        height: 8px;
        width: 1px;
        border-radius: 8px;
        display: inline-block;
        background-color: $color-accent-green;
        position: absolute;
        right: rem(2px);
        top: rem(-1px);
        transform: rotate(45deg);
      }

      &::before {
        content: '';
        height: 8px;
        width: 1px;
        border-radius: 8px;
        display: inline-block;
        background-color: $color-accent-green;
        position: absolute;
        right: rem(2px);
        top: rem(-6px);
        transform: rotate(-45deg);
      }
    }
  }
}

.connect__form {
  @include space-y(16px);
  width: 100%;
}

.connect__form__wrapper {
  @include space-y(16px);

  @include breakpoints('md') {
    display: flex;
    @include space-x(16px);
    @include space-y(0px);
  }
}
