.services {
  @include container;
}

.services__wrapper {
  @include space-y(32px);
}

.services__title {
  @extend %title;
  padding: 0;
}

.services__content {
  @include space-y(32px);

  @include breakpoints('lg') {
    display: flex;
    @include space-y(0px);
    @include space-x(56px);
  }

  @include breakpoints('xlg') {
    @include space-x(96px);
  }
}

//Description
.services__description {
  flex: none;
  position: relative;
  border-radius: rem(16px);
  padding: rem(24px) rem(16px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include space-y(32px);
  background-color: rgba($color-white, 0.05);

  @include breakpoints('sm') {
    padding: rem(64px);
    @include space-y(24px);
  }

  @include breakpoints('lg') {
    padding: rem(24px);
    @include space-y(24px);
    max-width: rem(256px);
  }

  @include breakpoints('xlg') {
    max-width: rem(400px);
  }

  @include breakpoints('2xlg') {
    max-width: rem(500px);
  }
}

.services__description__icons {
  @extend .tools__frameworks__content__icons;
}

.services__description__title {
  @include text-2xl;
  font-weight: 600;

  @include breakpoints('md') {
    @include text-3xl;
  }
}

.services__description__text {
  @include text-sm;

  @include breakpoints('md') {
    @include text-base;
  }
}

.services__description__picture {
  @include flex-center;

  &__image {
    position: relative;
    bottom: rem(-32px);

    @include breakpoints('sm') {
      bottom: rem(-68px);
    }

    @include breakpoints('lg') {
      bottom: rem(-30px);
    }
  }
}

//List
.services__lists {
  border: 2px solid $color-accent-blue;
  border-radius: rem(16px);
  padding: rem(16px);
  background-color: rgba($color-white, 0.05);
  @include space-y(16px);
}

.services__list__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include space-y(12px);
  border-radius: rem(12px);
  background-color: rgba($color-white, 0.05);
  border: 2px solid transparent;
  padding: rem(16px);

  &:focus,
  &:hover {
    border-color: $color-accent-green;
  }

  @include breakpoints('sm') {
    flex-direction: row;
    align-items: center;
    @include space-x(8px);
  }

  @include breakpoints('lg') {
    @include space-x(16px);
  }
}

.services__list__items__content {
  display: flex;
  flex-direction: column;
  @include space-y(12px);

  @include breakpoints('sm') {
    @include space-y(0px);
    @include space-x(12px);
    flex-direction: row;
  }

  @include breakpoints('lg') {
    @include space-x(16px);
  }
}

.services__list__items__icon {
  flex: none;
  height: rem(48px);
  width: rem(48px);
  border-radius: rem(8px);
  background-color: rgba($color-white, 0.15);
  @include flex-center;
  padding: rem(12px);

  svg {
    height: 100%;
    width: 100%;
    display: inline-block;
    opacity: 0.7;
  }
}

.services__list__items__desc {
  @include space-y(8px);
}

.services__list__items__title {
  font-weight: 600;
}
.services__list__items__text {
  @include text-sm;
}
