.photographies {
  $photoContainer: rem(1100px);
  position: relative;
}

.photographies__wrapper {
  display: grid;
  gap: rem(8px);
  overflow: hidden;
  padding: rem(8px);

  border: 1px solid rgba($color: $color-white, $alpha: 0.1);
  background-color: rgba($color: #000, $alpha: 1);

  @include breakpoints('sm') {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}

.photographies__item {
  display: inline-block;
  height: rem(460px);
  overflow: hidden;
  outline: 0;
  position: relative;
  border-radius: rem(8px);

  @include breakpoints('sm') {
    height: rem(500px);
  }

  @include breakpoints('lg') {
    height: rem(680px);
  }
}

.photographies__item__image {
  height: 100%;
}

.photographies__item__pic {
  height: 100%;
  width: 100%;
  user-select: none;
  object-fit: cover;
}

.photographies__button {
  @include flex-center;
  padding: rem(8px) rem(16px);
  @include space-x(16px);
  position: fixed;
  bottom: rem(32px);
  left: 50%;
  color: $color-white;
  transform: translateX(-50%);
  background-color: rgba($color: $color-white, $alpha: 0.35);
  box-shadow: 0px 8px 24px rgba($color: $color-black, $alpha: 0.5);
  @include support-blur(30px, $color-black, 0.5);
  border-radius: rem(16px);
  border: 1px solid $color-gray-700;

  &__icon {
    @include flex-center;
  }

  &__text {
    @include text-sm;
    font-weight: 700;
  }
}
