.rb-slider {
  //@include container;
  overflow: hidden;
  @include space-y(24px);
  min-width: 100%;
}

.rb-slider-navigation {
  @include flex-between;
  padding: rem(8px);
  border: 1px solid rgba($color-white, .07);
  border-radius: rem(18px);
  max-width: rem(96px);
  margin-left: auto;
  margin-right: rem(32px);
  background-color:  rgba($color-white, .05);
  @include space-x(8px);
}

.rb-slider-button  {
  all: unset;
  height: rem(24px);
  width: rem(24px);
  border-radius: 50%;
  border: 1px solid rgba($color-white, .1);
  @include flex-center;
  padding: rem(2px);
  cursor: pointer;
}

.rb-slider-wrapper {
  overflow: hidden;
  touch-action: none;
  //padding: 0 rem(32px);
}

.rb-slider-items {
  display: inline-flex;
  flex-wrap: nowrap;
  //@include space-x(32px);
  transition: transform .6s;
}

.rb-slider-item {
  display: inline-block;
  &:not(:last-child) {
    padding-right: rem(24px);
  }
}
