.gallery
  .gallery__wrapper
    .gallery__items
      picture.gallery__item
      picture.gallery__item
      picture.gallery__item
      picture.gallery__item
      picture.gallery__item
      picture.gallery__item

    .gallery__navigation
      button.rb-gallery-button#rb-gallery-button-prev
        include ../svg/arrow-left.svg
      .rb-gallery-progress
       span.rb-gallery-progress-track
      button.rb-gallery-button#rb-gallery-button-next
        include ../svg/arrow-right.svg
