.project__items
  .project__items__description
    h4.project__items__description__number 01
    h3.project__items__description__title Collectio
    p.project__items__description__detail
      | Hey i’m roger bentcha i help small company and people
      | to communicate with thiers customers. I turn thier idea
      | in creative design and code
    +button('#','View project')(class="button button__primary button-bg")
      include ../svg/plug.svg
  .project__items__image
