section.projects
  .projects__wrapper
    h2.projects__title Works
    .projects__content
      .rb-slider
        .rb-slider-navigation
          button.rb-slider-button#rb-slider-button-prev
            include ../svg/arrow-left.svg
          button.rb-slider-button#rb-slider-button-next
            include ../svg/arrow-right.svg
        .rb-slider-wrapper
          .rb-slider-items
              include items

