//Accent
$color-primary: #1d2523;
$color-primary-black : #0C0B0B;

// Accent
$color-accent-green: rgba(7, 217, 141, 1);

$color-accent-blue: rgba(22, 167, 249, 1);

$color-accent-orange: rgba(255, 88, 17, 1);

$color-accent-pink: rgba(219, 0, 255, 1);

// lineat accent
$color-gradient-orange: linear-gradient(
  50.71deg,
  #db00ff 15.97%,
  #ff5811 93.12%
);
$color-gradient-green: linear-gradient(
  34.26deg,
  #16a7f9 17.58%,
  #07d98d 87.73%
);

$color-gradient-light-green : linear-gradient(107.31deg, #A8ECE0 8.7%, rgba(87, 190, 159, 0) 110.16%);

//loader gradient
$color-loader-gradient: linear-gradient(
  90deg,
  $color-accent-orange 0%,
  $color-accent-pink 25%,
  $color-accent-blue 50%,
  $color-accent-green 100%
);

//Shade
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);

//Utils - colors
//Gray
$color-gray-50: rgba(249, 250, 251, 1);
$color-gray-100: rgba(243, 244, 246, 1);
$color-gray-200: rgba(229, 231, 235, 1);
$color-gray-300: rgba(209, 213, 219, 1);
$color-gray-400: rgba(156, 163, 175, 1);
$color-gray-500: rgba(107, 114, 128, 1);
$color-gray-600: rgba(75, 85, 99, 1);
$color-gray-700: rgba(55, 65, 81, 1);
$color-gray-800: rgba(31, 41, 55, 1);
$color-gray-900: rgba(17, 24, 39, 1);

//Bleu
$color-blue-500: rgba(30, 58, 138, 1);
$color-blue-400: rgba(29, 78, 216, 1);
$color-blue-300: rgba(0, 122, 255, 1);
$color-blue-200: rgba(164, 203, 246, 1);
$color-blue-100: rgba(239, 246, 255, 1);

//Green
$color-green-500: rgba(6, 78, 59, 1);
$color-green-400: rgba(4, 120, 87, 1);
$color-green-300: rgba(16, 185, 129, 1);
$color-green-200: rgba(110, 231, 183, 1);
$color-green-100: rgba(236, 253, 245, 1);

//Yellow
$color-yellow-500: rgba(120, 53, 15, 1);
$color-yellow-400: rgba(217, 119, 6, 1);
$color-yellow-300: rgba(251, 191, 36, 1);
$color-yellow-200: rgba(253, 230, 138, 1);
$color-yellow-100: rgba(255, 251, 235, 1);

//Red
$color-red-500: rgba(153, 27, 27, 1);
$color-red-400: rgba(185, 28, 28, 1);
$color-red-300: rgba(239, 68, 68, 1);
$color-red-200: rgba(252, 165, 165, 1);
$color-red-100: rgba(254, 242, 242, 1);
