@use 'sass:map';

$breakpoint-list: (
  'sm': 640,
  'md': 768,
  'lg': 1024,
  'xlg': 1280,
  '2xlg': 1536,
);

@mixin breakpoints($target, $height: false) {
  $value: map.get($breakpoint-list, $target);

  @if $value {
    @if $height {
      @media (min-height: #{$value}px) {
        @content;
      }
    } @else {
      @media (min-width: #{$value}px) {
        @content;
      }
    }
  } @else {
    @if $height {
      @media (min-height: #{$target}px) {
        @content;
      }
    } @else {
      @media (min-width: #{$target}px) {
        @content;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.visible-flex {
  display: flex !important;
}

.mobile-only {
  @include breakpoints('md') {
    display: none !important;
  }
}

.desktop-only {
  display: none !important;
  @include breakpoints('md') {
    display: inherit !important;
  }
}

.desktop-lg-only {
  display: none !important;
  @include breakpoints('lg') {
    display: initial !important;
  }
}
