/* Effect styles */
$shadow-100:  0px 0px 4px rgba(0, 0, 0, 0.1);
$shadow-200:  1px 1px 8px rgba(0, 0, 0, 0.15);
$shadow-300:  0px 12px 24px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.08);
$shadow-400:  -2px 18px 32px rgba(0, 0, 0, 0.23), 0px 0px 18px rgba(0, 0, 0, 0.08);
$shadow-500:  -2px 28px 40px rgba(0, 0, 0, 0.36), 0px 0px 18px rgba(0, 0, 0, 0.08);
