//font
$font-rische: 'Rische';
$font-satoshi: 'Satoshi';
$base-font: 16px;


//Breakpoint
$container: 87.5rem;

//Z-index
$z-indexes: ('preloader','alert','modal','player', 'navigation', 'menu', 'header');
