//font
$font-rische: 'Rische';
$font-satoshi: 'Satoshi';
$base-font: 16px;

//Breakpoint
$container: 87.5rem;
$headerBreakpoint: 1080;

//Z-index
$z-indexes: (
  'preloader',
  'menu-button',
  'menu',
  'alert',
  'modal',
  'player-cta',
  'player',
  'header'
);
