.switch
  button.switch__option(type="button") Fr
  .toggle
    label.toggle__label(for="toggle__input")
      input.toggle__input#toggle__input(type="checkbox")
      span.toggle__label__track
        span.toggle__label__thumb
  button.switch__option(type="button") En
