@font-face {
  font-family: 'rogerb';
  src:  url('fonts/icons/rogerb.eot?dmovba');
  src:  url('fonts/icons/rogerb.eot?dmovba#iefix') format('embedded-opentype'),
  url('fonts/icons/rogerb.ttf?dmovba') format('truetype'),
  url('fonts/icons/rogerb.woff?dmovba') format('woff'),
  url('fonts/icons/rogerb.svg?dmovba#rogerb') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rb-"], [class*=" rb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rogerb' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rb-forward:before {
  content: "\33";
}
.rb-backward:before {
  content: "\30";
}
.rb-backward-15-seconds:before {
  content: "\62";
}
.rb-close:before {
  content: "\63";
}
.rb-Edit:before {
  content: "\65";
}
.rb-forward-15-seconds:before {
  content: "\66";
}
.rb-maximize-circle:before {
  content: "\7a";
}
.rb-minimize-circle:before {
  content: "\6d";
}
.rb-pause:before {
  content: "\70";
}
.rb-play:before {
  content: "\79";
}
.rb-screen-mirroring:before {
  content: "\73";
}
.rb-volume-cross:before {
  content: "\76";
}
.rb-volume-high:before {
  content: "\6f";
}
