
extends ../base.pug

block variables
  - const title = 'What about me ?.'
  - const description = 'Get more information about me'

  - let template = 'about'

block content
  .about
    .about__wrapper
      .about__header
        h1.about__header__title
          span.about__header__title__text ROGER BENTCHA
          span.about__header__title__text 23/JUL '99 - CM
          span.about__header__title__text
            | CREATIVE
            span.about__header__title__text__line
          span.about__header__title__text + DEVELOPER
        .about__img
      .about__text
        h3.about__text__title(data-animation='title')  About me
        .about__text__desc
          p.about__text__content(data-animation='paragraph')
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown printer
            | took a galley of type and scrambled it to make a type specimen book.
            | It has survived not only five centuries, but also the leap into electronic typesetting.
          p.about__text__content(data-animation='paragraph')
            | Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      .about__img




