
extends ../base.pug

block variables
  - const title = 'What about me ?.'
  - const description = 'Get more information about me'

  - let template = 'about'

block content
  .about
    .about__wrapper

