
extends ../base.pug

block variables
  - const title = 'What about me ?.'
  - const description = 'Get more information about me'

  - let template = 'about'

block content
  .about
    .about__wrapper
      .about__header
        h1.about__header__title
          span.about__header__title__text ROGER BENTCHA
          span.about__header__title__text 23/JUL '99 - CM
          span.about__header__title__text
            | CREATIVE
            span.about__header__title__text__line
          span.about__header__title__text + DEVELOPER
        .about__img__container
         p.about__img__text Aim for the moon and you will never be disappointed.
         .about__img
            img(src="images/moon.png")
         p.about__img__author
            | Photo by <a href="https://unsplash.com/@ninoliverpool?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nino Yang</a> on <a href="https://unsplash.com/wallpapers/design?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      .about__text
        h3.about__text__title(data-animation='title')  About me
        .about__text__desc
          p.about__text__content(data-animation='paragraph')
            | I have been passionate about technology since a young age, and I developed a particular interest in web programming and software development.
            |  I have acquired strong skills in programming languages ​​such as HTML, CSS, JavaScript and I am always learning new technologies and trends in the field.
          p.about__text__content(data-animation='paragraph')
            | I enjoy designing aesthetic and functional user interfaces, and I have worked on many projects that have allowed me to develop a deep understanding of user experience.  My goal is to create innovative software solutions that meet my clients' needs while providing an exceptional user experience.  I love working in a team and collaborating with other developers to solve the most complex technical challenges.  I look forward to continuing to explore and learn in this exciting field.

      .about__img__container
         p.about__img__text Be yourself, dream big & keep going.
         .about__img
            img(src="images/circle.png")
         p.about__img__author
            | Photo by <a href="https://unsplash.com/it/@theshubhamdhage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shubham Dhage</a> on <a href="https://unsplash.com/wallpapers/design?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>




