extends ../base.pug

block variables
  - const title = 'Roger Bentcha'
  - const description = 'Welcome to my portfolio'

  - let template = 'home'

block content
  .home
    .home__wrapper
      include ../components/hero
      include ../components/frameworks
      include ../components/projetcs/projects
      include ../components/services
      include ../components/about
