
extends ../base.pug

block variables
  - const title = 'My projects'
  - const description = 'Project i have worked or am working on'

  - let template = 'project'

block content
  .project
    section.project__wrapper
      .project__wrapper__content
         h2.project__title(data-animation='title') My achievements
         p.project__desc(data-animation='paragraph') Over the years, I have accumulated experience in creating websites, starting from the initial design stage to the final delivery. I have worked on projects of various sizes, ranging from simple websites to small, complex web applications, utilizing various programming languages. Additionally, I have developed skills in web integration, guaranteeing cross-browser compatibility and accessibility for all users.
         p.project__desc(data-animation='paragraph') In addition to website creation, I have also worked on developing logos for my clients by designing unique graphics that reflect the essence of their business. Additionally, I have created graphical interfaces for web applications to ensure that the user experience is both aesthetically pleasing and user-friendly. You can explore these projects here. Enjoy!
      include ../components/Tabs

      //- .project__wrapper__grid
      //-   each projects, index in projectsData
      //-     .projects__items
      //-       .projects__items__description
      //-         h4.projects__items__description__number=`0${index}`
      //-         a.projects__items__link(href=projects.link target="_blank")
      //-           h3.projects__items__description__title=projects.title
      //-           span.projects__items__link__icon ⇗
      //-         p.projects__items__description__detail=projects.description

