
extends ../base.pug

block variables
  - const title = 'My project.'
  - const description = 'Project i have/am work in '

  - let template = 'project'

block content
  .project
    .project__wrapper
