.menu__links__preview {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  border-radius: rem(24px);
  box-shadow: $shadow-200;
  @include support-blur(100px, $color-white, .05);
  width: max-content;
  height: auto;

  @include v-hidden;
  transform: translateY(1rem);

  transition: all .3s cubic-bezier(.5,.74,.43,.62);
}

.menu__links__media {
  display: inline-flex;
  margin: rem(16px);
  border-radius: calc(24px - 16px);
  overflow: hidden;
}
.menu__links__media__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
