.menu__content {
  width: rem(240px);

  position: absolute;
  top: 0;
  right: 0;

  border-radius: rem(20px);

  visibility: hidden;
  opacity: 0;

  transition: visibility 0.5s, opacity 0.6s;

  flex-direction: column;
  padding: rem(12px) rem(16px) rem(24px) rem(16px);

  border: 1px solid rgba($color: $color-white, $alpha: 0.08);
  background-color: rgba($color: $color-primary, $alpha: 0.9);

  @include breakpoints('md') {
    position: static;
    padding: 0;
    width: max-content;
    display: flex;
    flex-direction: row;
    background: none;
    border: none;

    opacity: 1;
    visibility: visible;

    &::after {
      display: none;
    }
  }
  &::after {
    content: '';
    position: fixed;
    inset: 0;
    height: 100vh;
    z-index: -1;
    background-color: rgba($color-white, 0.8);
    @include support-blur(25px, $color-primary-black, 0.5);
  }

  &.menu__content-visible {
    opacity: 1;
    visibility: visible;
  }
}

//divider
.menu__content > *:nth-child(3) {
  margin: rem(14px) 0;

  @include breakpoints('md') {
    margin: 0;
  }
}

.menu__content {
  .button-icon,
  .button-bg {
    margin-left: auto;
  }
}

.menu__links {
  @include space-y(8px);
  position: relative;
  display: flex;
  flex-direction: column;

  @include breakpoints('md') {
    @include flex-center;
    flex-direction: row;
    @include space-y(0px);
    @include space-x(16px);
  }
}

.menu__links__item {
  transition: text-decoration 0.4s;
  display: inline-block;
  position: relative;

  &:hover {
    .menu__links__item__link {
      color: $color-white;
    }

    &::after {
      width: 100%;
    }
  }

  &::after,
  &-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: rem(-2px);
    width: 0%;
    height: 1px;
    background: $color-gradient-orange;
    transition: width 0.4s;
  }
}

.menu__links__item.menu__links__item-active {
  .menu__links__item__link {
    color: $color-white;
  }

  &::after {
    width: 100%;
  }
}

.menu__links__item__link {
  @include text-base;
  font-weight: 600;
  color: rgba($color: $color-white, $alpha: 0.7);
}

.menu__links__item__link[data-links-disabled='true'] {
  opacity: 0.4;
  cursor: none;
  pointer-events: none;
}
